<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/trunk/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title lang="en-GB">External Orders</title>
        <title lang="de-DE">Externe Bestellungen</title>

        <input-field type="int">
            <name>externalOrdersItemsPerPage</name>
            <label lang="en-GB">Items per page</label>
            <label lang="de-DE">Nombre par page</label>
            <defaultValue>25</defaultValue>
        </input-field>

        <component name="external-orders-testdata-button">
            <name>externalOrdersDemoData</name>
            <label lang="en-GB">Demo data</label>
            <label lang="de-DE">Demo Daten</label>
        </component>
    </card>
</config>
