<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/trunk/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title lang="en-GB">External Orders</title>
        <title lang="de-DE">Externe Bestellungen</title>

        <input-field type="text">
            <name>externalOrdersPageTitle</name>
            <label lang="en-GB">External Orders title</label>
            <label lang="de-DE">Titel für External Orders</label>
            <defaultValue>Bestellübersichten</defaultValue>
        </input-field>

        <input-field type="int">
            <name>externalOrdersPerPage</name>
            <label lang="en-GB">Orders per page</label>
            <label lang="de-DE">Anzahl pro Seite</label>
            <defaultValue>25</defaultValue>
        </input-field>

        <component name="external-orders-testdata-button">
            <name>externalOrdersDemoData</name>
            <label lang="en-GB">Demo data</label>
            <label lang="de-DE">Demo-Daten</label>
        </component>

        <input-field type="float">
            <name>externalOrdersTimeout</name>
            <label lang="en-GB">API timeout (seconds)</label>
            <label lang="de-DE">API Timeout (Sekunden)</label>
            <defaultValue>2.5</defaultValue>
        </input-field>
    </card>

    <card>
        <title lang="en-GB">SAN6</title>
        <title lang="de-DE">SAN6</title>

        <input-field type="text">
            <name>externalOrdersSan6BaseUrl</name>
            <label lang="en-GB">SAN6 API URL</label>
            <label lang="de-DE">SAN6 API URL</label>
            <placeholder>https://...</placeholder>
        </input-field>

        <input-field type="text">
            <name>externalOrdersSan6Authentifizierung</name>
            <label lang="en-GB">SAN6 API token</label>
            <label lang="de-DE">SAN6 API Token</label>
        </input-field>

        <single-select>
            <name>externalOrdersSan6SendStrategy</name>
            <label lang="en-GB">SAN6 send strategy</label>
            <label lang="de-DE">SAN6 Sende-Strategie</label>
            <options>
                <option>
                    <id>filetransferurl</id>
                    <name lang="en-GB">filetransferurl</name>
                    <name lang="de-DE">filetransferurl</name>
                </option>
                <option>
                    <id>legacy</id>
                    <name lang="en-GB">legacy</name>
                    <name lang="de-DE">legacy</name>
                </option>
            </options>
            <defaultValue>filetransferurl</defaultValue>
        </single-select>

        <input-field type="text">
            <name>externalOrdersSan6ReadFunction</name>
            <label lang="en-GB">SAN6 read function</label>
            <label lang="de-DE">SAN6 Read Function</label>
        </input-field>

        <input-field type="text">
            <name>externalOrdersSan6WriteFunction</name>
            <label lang="en-GB">SAN6 write function</label>
            <label lang="de-DE">SAN6 Write Function</label>
        </input-field>

        <input-field type="text">
            <name>externalOrdersSan6Company</name>
            <label lang="en-GB">SAN6 company</label>
            <label lang="de-DE">SAN6 Company</label>
        </input-field>

        <input-field type="text">
            <name>externalOrdersSan6Product</name>
            <label lang="en-GB">SAN6 product</label>
            <label lang="de-DE">SAN6 Product</label>
        </input-field>

        <input-field type="text">
            <name>externalOrdersSan6Mandant</name>
            <label lang="en-GB">SAN6 mandant</label>
            <label lang="de-DE">SAN6 Mandant</label>
        </input-field>

        <input-field type="text">
            <name>externalOrdersSan6Sys</name>
            <label lang="en-GB">SAN6 sys</label>
            <label lang="de-DE">SAN6 Sys</label>
        </input-field>
    </card>

    <card>
        <title lang="en-GB">External channels API / token</title>
        <title lang="de-DE">Externe Kanäle API / Token</title>

        <input-field type="text">
            <name>externalOrdersApiUrlB2b</name>
            <label lang="en-GB">B2B API URL</label>
            <label lang="de-DE">B2B API URL</label>
            <placeholder>https://...</placeholder>
        </input-field>

        <input-field type="text">
            <name>externalOrdersApiTokenB2b</name>
            <label lang="en-GB">B2B API token</label>
            <label lang="de-DE">B2B API Token</label>
        </input-field>

        <input-field type="text">
            <name>externalOrdersApiUrlEbayDe</name>
            <label lang="en-GB">eBay DE API URL</label>
            <label lang="de-DE">eBay DE API URL</label>
            <placeholder>https://...</placeholder>
        </input-field>

        <input-field type="text">
            <name>externalOrdersApiTokenEbayDe</name>
            <label lang="en-GB">eBay DE API token</label>
            <label lang="de-DE">eBay DE API Token</label>
        </input-field>

        <input-field type="text">
            <name>externalOrdersApiUrlKaufland</name>
            <label lang="en-GB">Kaufland API URL</label>
            <label lang="de-DE">Kaufland API URL</label>
            <placeholder>https://...</placeholder>
        </input-field>

        <input-field type="text">
            <name>externalOrdersApiTokenKaufland</name>
            <label lang="en-GB">Kaufland API token</label>
            <label lang="de-DE">Kaufland API Token</label>
        </input-field>

        <input-field type="text">
            <name>externalOrdersApiUrlEbayAt</name>
            <label lang="en-GB">eBay AT API URL</label>
            <label lang="de-DE">eBay AT API URL</label>
            <placeholder>https://...</placeholder>
        </input-field>

        <input-field type="text">
            <name>externalOrdersApiTokenEbayAt</name>
            <label lang="en-GB">eBay AT API token</label>
            <label lang="de-DE">eBay AT API Token</label>
        </input-field>

        <input-field type="text">
            <name>externalOrdersApiUrlZonami</name>
            <label lang="en-GB">Zonami API URL</label>
            <label lang="de-DE">Zonami API URL</label>
            <placeholder>https://...</placeholder>
        </input-field>

        <input-field type="text">
            <name>externalOrdersApiTokenZonami</name>
            <label lang="en-GB">Zonami API token</label>
            <label lang="de-DE">Zonami API Token</label>
        </input-field>

        <input-field type="text">
            <name>externalOrdersApiUrlPeg</name>
            <label lang="en-GB">PEG API URL</label>
            <label lang="de-DE">PEG API URL</label>
            <placeholder>https://...</placeholder>
        </input-field>

        <input-field type="text">
            <name>externalOrdersApiTokenPeg</name>
            <label lang="en-GB">PEG API token</label>
            <label lang="de-DE">PEG API Token</label>
        </input-field>

        <input-field type="text">
            <name>externalOrdersApiUrlBezb</name>
            <label lang="en-GB">BEZB API URL</label>
            <label lang="de-DE">BEZB API URL</label>
            <placeholder>https://...</placeholder>
        </input-field>

        <input-field type="text">
            <name>externalOrdersApiTokenBezb</name>
            <label lang="en-GB">BEZB API token</label>
            <label lang="de-DE">BEZB API Token</label>
        </input-field>
    </card>
</config>
