<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/trunk/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title lang="en-GB">Lieferzeiten Sync</title>
        <title lang="de-DE">Lieferzeiten Sync</title>

        
    </card>
</config>
